body
{
background-color:#FFEFD5 ;
color: #8B4513 ;
}
#fejlec
{
background-image: url(szines.jpg);
background-repeat: no-repeat;
background-size: cover;
}
ul
{
    list-style-image: url(chili-pepper-icon.gif);
}